In [3]:
print("A1")

A1

In [2]:
#1. swtich values of 2 integers

n1=20
n2=30
n1=n1+n2
n2=n1-n2
n1=n1-n2
print(f"n1={n1} n2={n2}")

n1=30 n2=20

In [4]:
char1= "hello"
char2="java"
temp=char1
char1=char2
char2=temp
print(f"char1={char1} char2={char2}")

char1=java char2=hello

In [7]:
n1=200
char2="java"
temp=n1
n1=char2
char2=n1
print(f"n1={n1} char2={char2}")

n1=java char2=java

In [15]:
current_balance=10000
deposit_balance=5000
res=current_balance+deposit_balance
print(f"After deposit: current_balance = {res} Before deposit: current_balance = {current_balance}")

After deposit: current_balance = 15000 Before deposit: current_balance = 10000

In [19]:
balance=15000
withdrawl=3000
res=balance-withdrawl
print(res)

12000

In [20]:
cart_items=5
items_added=3
res=cart_items+items_added
print(res)

8

In [25]:
price=1000
discount=20
res=price/100*80
print(res)

800.0

In [33]:
subject1=800
subject2=75
subject3=90
subject4=85
res1=subject1+subject2+subject3+subject4
print(res1)
res2=res1/4
print(res2)

1050
262.5

In [34]:
num1 = 25
num2 = 35 
num3 = 45
res=num1+num2+num3/3
print(res)

75.0

In [42]:
cost_price = 500
selling_price = 600
res=selling_price-cost_price
print(res)
profit=selling_price>cost_price
loss=cost_price>selling_price
res=profit or loss
print(res)

100
True

In [44]:
principal = 10000
rate = 5
time = 2
simple_interest=principal*rate*time/100
res=simple_interest
print(res)

1000.0

In [47]:
principal = 10000
rate = 5
time=2
compound_interest=principal*(1+rate/100)**time-principal
print(compound_interest)

1025.0

In [51]:
income = 500000
tax_rate = 10
tax=income/tax_rate
print(tax)

50000.0

In [57]:
initial_value = 200
final_value = 250
res=final_value-initial_value
print(res)
res2=res/initial_value*100
print(res2)

50
25.0

In [59]:
boolean_value=True
int_value=int(boolean_value)
print(int_value)

1

In [61]:
float_value=45.67
string_value=str(float_value)
print(string_value)

45.67

In [69]:
#19.Convert 20°C to Fahrenheit
celsius=20
fahrenheit=celsius*9/5+32
print(fahrenheit)

68.0

In [68]:
#Convert 50°F to Celsius
fahrenheit=50
celsius=(fahrenheit-32)*5/9
print(f"{fahrenheit}°F is equal to {celsius}°C")

50°F is equal to 10.0°C

In [70]:
#21.Convert integer to binary
integer_value=25
binary_value=bin(integer_value)
print(binary_value)

0b11001

In [71]:
#Calculate area of a triangle
base_value=10
height_value=6
area=1/2*base_value*height_value
print(area)

30.0

In [72]:
#.Calculate perimeter of a square
side=9
perimeter_value=4*side
print(perimeter_value)

36

In [73]:
# Calculate diameter of a circle
radius_value=14
diameter_value=2*radius_value
print(diameter_value)

28

In [75]:
# Calculate volume of a cube
side_value=5
volume_value=side_value**3
print(volume_value)

125

In [78]:
# Calculate surface area of a cuboid
length_value=4
base_value=3
height_value=2
area=2*(length_value*base_value+base_value*height_value+height_value*length_value)
print(area)

52

In [79]:
# Square of sum: (x + y)2
x=5
y=7
sum=x**2+y**2+2*x*y
print(sum)

144

In [91]:
#.Simplify expression: x2 - 4x + 4
x=3
res=(x-2)**2
print(res)

1

In [81]:
#(a + b)(a - b)
a=6
b=2
res=a**2-b**2
print(res)

32

In [85]:
# Sum of cubes: a3 + b3
a=1
b=2
res=(a+b)*(a**2+b**2-a*b)
print(res)

9

In [88]:
#Simplify: (x - y)2
x = 10 
y = 6
res=x**2+y**2-2*x*y
print(res)

16

In [90]:
# Difference of cubes: x3 - y3
x=4
y=1
res=(x-y)*(x**2+y**2+x*y)
print(res)

63

In [6]:
Full_Name = input("Input Name : >")
Profession =input("Input Profession : >")
Favorite_Quote= input("Input Favorite_Quote : >")
Years_of_Experience=input("Input Years of Experience : >")

print(f"my name {Full_Name} Profession {Profession}, {Favorite_Quote} and {Years_of_Experience} ")

Input Name : > rocky
Input Profession : > singing
Input Favorite_Quote : > abc
Input Years of Experience : > 5

my name rocky Profession singing, abc and 5

In [11]:
Movie_Name= input("Enter Movie name")
Viewer_Name= input("Enter Viewer Name")
Seat_Number= int(input(" Enter Seat number"))
Show_Time=int(input("Enter Show Time"))

print(f"Movie Name is {Movie_Name}, Viewer Name is {Viewer_Name} Seat Number {Seat_Number} and Show Time {Show_Time}")

Enter Movie name jurrasic park
Enter Viewer Name ram
 Enter Seat number 65
Enter Show Time 12

Movie Name is jurrasic park, Viewer Name is ram Seat Number 65 and Show Time 12